---

import Layout from '../layouts/Layout.astro';
import InfoGeneral from '../components/InformacionGeneral.astro';
import TecnologiasManejadas from '../components/TecnologiasManejadas.astro';
import HabilidadesComponente from '../components/habilidadesComponente.astro';
import { habilidades } from '../content/habilidades.ts';
import { tecnologias } from '../content/tecnologias/tecnologias.ts';
import { userInfoes, userInfoen } from '../content/acerca';

export async function getStaticPaths() {
  return [
    { params: { lang: "es" } },
    { params: { lang: "en" } },
  ];
}

const { lang } = Astro.params;
const userInfo = lang === "es" ? userInfoes : userInfoen;
---


<Layout title={userInfoes.name}>
  <!-- Llamada al componente InfoGeneral -->
   <div class="mb-8">
    <InfoGeneral 
    name={userInfoes.name}
    title={userInfoes.title}
    description={userInfoes.description}
    imageUrl={userInfoes.imageUrl} 
  />
   </div>


  <!-- Renderizado de habilidades con margen -->
  <div class="mb-8">
    <HabilidadesComponente habilidades={habilidades} />
  </div>

  <!-- Renderizado de TecnologiasManejadas con margen -->
  <div class="mb-8">
    <TecnologiasManejadas 
      lenguajes={tecnologias.lenguajes}
      basesDeDatos={tecnologias.basesDeDatos}
      frameworks={tecnologias.Frameworks}
    />
  </div>



</Layout>
